<!DOCTYPE html>
<html lang= "en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width", initial-scale="1.0"/>
    <title>welcome page</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>


<body> 
    <div class="travel__dest">
        <h1>Travel Details</h1>
        <form>
         <div>
             <label for="Travel Destinations">Where are you traveling from?</label>
        
            <select name="Locations "id="travel_regions">
            
                <option value="rigatoni">Arusha</option>
            
              <option value="dave">Dodoma</option>
            
              <option value="pumpernickel">Mwanza</option>
            
              <option value="reeses">Dar-Es-Salaam</option>
            
            </select>
            </div>   
            <div>
                <label for="Travel Destinations">Choose a destination.</label>
        
                <select name="Regions" id="travel_regions">
                
                    <option value="rigatoni">Arusha</option>
                
                  <option value="dave">Dodoma</option>
                
                  <option value="pumpernickel">Mwanza</option>
                
                  <option value="reeses">Dar-Es-Salaam</option>
                
                </select></div>
        <div>
            <label for="Date of Travel">Pick a Date</label>
            <input class="form-control btn-bordered"  placeholder="Travel Date" data-date-orientation="bottom" data-date-start-date="2022-04-23" name="date" type="date">
        
        </div>
        <div class="sub__btn"> <input type="submit" value="Submit"></div>
        </form>
    </div>

</body>
</html>